<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./library/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="./library/bootstrap-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./library/SwiperJS/swiper.css">
    <link rel="stylesheet" href="./library/SVG-Based-Star-Rating-Plugin-For-jQuery-star-rating-svg-js/src/css/star-rating-svg.css  ">
    <link rel="stylesheet" type="text/css" href="./map.css" />
    <link rel="stylesheet" href="style.css">
    <title>Chocobrat</title>
</head>
<body>
    <div id="navbar">
        <div class="">
            <div class="navbar-content">
                <div class="left-side">
                    <h1>Chocobrat</h1>
                </div>
                <div class="center">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>
                            <a href="#">Categories</a>
                            <i class="fa-solid fa-angle-down" style="font-size: 10px;"></i>
                        </li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="right-side">
                    <div class="input">
                        <input type="text" placeholder="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <i class="fa-regular fa-user"></i>
                    <i class="fa fa-cart-shopping position-relative">
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill  counter">
                            1                            
                        </span>
                    </i>
                </div>
            </div>
        </div>
    </div>


    <header id="header">
        <div class="container">
            <div class="header-content">
                <div class="left-side">
                    <h1>Bring you Happiness <br> through a piece of cake</h1>
                    <h5>We make Diffrent type of cakes, chocolate, <br> soft cookies, cheesecake pie or anything <br> you want.</h5>
                    <div class="buttons">
                        <a href="#">Order Now</a>
                        <a href="#">See All Menus</a>
                    </div>
                </div>
                <div class="right-side">
                    <div class="img"></div>
                </div>
            </div>
        </div>
    </header>


    <section id="section-1">
        <div class="container">
            <div class="section-content-1">
                <div class="top">
                    <div class="left-side">
                        <h1>Try Our Best Selling</h1>
                    </div>
                    <div class="right-side">
                        <p>Here’s our best creations that everyone loves. Lightness and <br>
                            sweetness of the cake make you want more and more. Start <br>
                            from cake, bread and other creations.</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake2.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output">Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake3.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake4.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake5.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  


                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake3.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  


                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake2.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  


                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake3.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  


                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake4.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  


                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="top">
                                        <img src="./images/cake5.png" alt="cake1">
                                    </div>
                                    <div class="bottom">
                                        <p>Red Velvet & Cream <br> Cheese ( 500g )</p>
                                        <div class="rating">
                                            <span onclick="gfg(1)" class="star">★</span>
                                            <span onclick="gfg(2)" class="star">★</span>
                                            <span onclick="gfg(3)" class="star">★</span>
                                            <span onclick="gfg(4)" class="star">★</span>
                                            <span onclick="gfg(5)" class="star">★</span>
                                            <h5 id="output"> Rating</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="./library/jQuery/jQuery.js"></script>

    <script src="./library/bootstrap-5/js/bootstrap.min.js"></script>

    <script src="./library/bootstrap-5/js/bootstrap.bundle.min.js"></script>

    <script src="./library/SwiperJS/swiper-bundle.min.js    "></script>
    
    <script src="./library/SVG-Based-Star-Rating-Plugin-For-jQuery-star-rating-svg-js/dist/jquery.star-rating-svg.min.js"></script>

    <script src="https://cldup.com/S6Ptkwu_qA.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script src="script.js"></script>

    <script src="../particles.js"></script>

    <script src="js/app.js"></script>

    <script type="module" src="./index.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>

    <script src="js/lib/stats.js"></script>

    <script src="./library/TagCloud-master/dist/TagCloud.min.js"></script>
</body>
</html>